MODEL_PROXY_URL=https://mp-staging.kaggle.net/models/openapi
MODEL_PROXY_API_KEY=your_token_here
LLM_DEFAULT=google/gemini-2.5-flash
LLM_DEFAULT_EVAL=google/gemini-2.5-pro
LLMS_AVAILABLE=anthropic/claude-sonnet-4,google/gemini-2.5-flash,meta/llama-3.1-70b,google/gemini-2.5-pro
ENABLE_LOCAL_CACHING=true
PYTHONPATH=src
